<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pigeon Chat</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='styles/chat.css') }}">
</head>

<body>
  <div class="container">
    <header>
      <div class="logo">pigeon</div>
      <div class="user-info">
        <span class="username">{{ user.username }}</span>
        <button id="logoutButton" class="logout-btn" onclick="logout()">Выход</button>
      </div>
    </header>
    <div class="main-content">
      <div class="contacts">

        <ul class="contact-list" id="userList">
          {% for chat in users_all %}
          {% if chat.id != user.id %}
          <li>
            <div class="user-item" data-user-id="{{ chat.id }}">
              {{ chat.username }}
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="chat">
        <div class="chat-header" id="chatHeader">
          <span>Мини-чат</span>
        </div>
        <div class="chat-history" id="messages">
        </div>
        <div class="chat-input">
          <input id="messageInput" type="text" placeholder="Введите сообщение...">
          <button id="sendButton">Отправить</button>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', path='js/chat.js') }}"></script>

</body>

</html>